@model Digiturno.web.Data.Entities.Turn

@{
    ViewData["Title"] = "Turno Actual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br/>
<br/>
<div class="d-flex justify-content-between">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success">
        <i class="bi bi-arrow-left"></i> Volver
    </a>
</div>


<div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-light">
    @* <h2>Bienvido apreciado afiliado</h2> *@
    @* <br/> *@
    @* <br/> *@
    @* <br/> *@
    <div class="card shadow-lg text-center p-5 rounded-4" style="width: 380px;">
        <h1 class="text-primary fw-bold mb-4">Toma tu turno</h1>

        <div class="display-1 fw-bold text-success mb-5" style="font-size: 7rem;">
            @(Model?.numeroTiket ?? 0)
        </div>

        <form asp-controller="Turn" asp-action="tomarTurno">
            <button type="submit" class="btn btn-primary btn-lg px-5 py-3 rounded-4 shadow">
                <i class="bi bi-arrow-right-circle"></i> Tomar Turno
            </button>
        </form>
    </div>

</div>